body {
    background-color: #11111b;
    color: #cba7f7;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

.game {
    padding: 20px;
}

.game:focus-visible {
    outline: 2px solid #372a5b;
    border-radius: 3px;
}

.words {
    justify-items: center;
}

.timer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.offFocusMessage {
    opacity: 0;
    justify-self: center;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#cursor {
    width: 2px;
    height: 1rem;
    background-color: antiquewhite;
    position: absolute;
    animation: blink 0.5s infinite;
    transition: all 0.1s linear;
}

.correct {
    color: antiquewhite;
}

.incorrect {
    color: palevioletred;
}

.pigeon-pic {
    height: 20%;
}
